body {
  margin: 0;
}

nav {
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  font-family: 'Nunito', sans-serif;
}

.nav-list {
  display: inline-flex;
  list-style-type: none;
}

.nav-list li {
  padding-left: 5%;
  text-align: center;
  float: right;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #5fc0de;
  text-decoration-thickness: 30%;
}

main {
  padding-top: 50px;
}

.carousel-pics {
  height: 742px;
  position: absolute;
}

button {
  background-color: #5fc0de;
  padding: 15px 32px;
  text-align: center;
  border: none;
  font-size: 16px;
  color: white;
}

.img-overlay-content {
  position: relative;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  margin: auto;
}
